<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Phonebook - Search</title>
</head>
<body style='background-image: url("/images/AccordWatermark.png")'>



<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/images/hlogo.png" height="50"></a></td>
<td ><a href="/search/"><span class="AppName">PHONEBOOK</span></a></td>
<td width=50></td><td><a href="/search/"><span class="MenuCmd">People</span></a></td>
<td width=20></td><td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
<td width=20></td><td><a href="/searchcl/"><span class="MenuCmd">Classes</span></a></td>
{{if showAdminButton .X.Token}}
<td width=20></td><td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
{{end}}
<td width=50></td>
<td><p align="center"><a href="/editDetail/{{.X.UID}}"><span class="MenuUserName"><img src="{{.X.ImageURL}}" height="35"><br>{{.X.Firstname}}</span></a></p></td>
<td width=4></td>
<td><a href="/logoff/{{.X.UID}}"><span class="MenuCmd">Logoff</a></span></td>
<td width=20></td>
<td><a href="/help/"><span class="MenuCmd">Help</a></span></td>
<td width=20></td>
</tr>
<tr>
<td width=20></td>
<td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
</tr>
</table>




<p></p>
<table>
<tr><td width="50"></td><td><p class="AppHeading">Admin Page</p></td></tr>
<tr><td height="30" colspan="2"></td></tr>
{{if hasAdminScreenAccess .X.Token 1 2}}
<tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Add Person">
	<input type="hidden" name="url" value="/adminAddPerson/"></form></td>
</tr>
</form>
{{end}}
{{if hasAdminScreenAccess .X.Token 2 2}}
<tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Add Company">
	<input type="hidden" name="url" value="/adminAddCompany/"></form></td>
</tr>
{{end}}
{{if hasAdminScreenAccess .X.Token 3 2}}
<tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Add Class">
	<input type="hidden" name="url" value="/adminAddClass/"></form></td>
</tr>
{{end}}
{{if hasAdminScreenAccess .X.Token 4 256}}
<tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Shutdown"> Stops the phonebook server
	<input type="hidden" name="url" value="/shutdown/"></form></td>
</tr>
<tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Restart"> Restarts the phonebook server
	<input type="hidden" name="url" value="/restart/"></form></td>
</tr><td width="50" height="30"></td>
	<td><form action="/adminViewBtn/" method="POST">
	<input type="submit" name="action" value="Stats"> Displays phonebook server statistics
	<input type="hidden" name="url" value="/stats/"></form></td>
<tr>
</tr>
{{end}}
</table>

</body>
</html>