{{define "title" }}
AIR Directory - Admin
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "admin"}}")'
{{ end }}
{{ define "other scripts"}}{{ end }}
{{ define "content" }}
<p></p>
<table border="0">
    <tr>
        <td width="50"></td>
        <td colspan=2><h1>Administrator Commands</h1></td>
    </tr>
    <tr>
        <td height="10" colspan="3"></td>
    </tr>
{{if hasAdminScreenAccess .X.Token 1 2}}
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Add Person">
                <input type="hidden" name="url" value="/adminAddPerson/"></form>
        </td>
        <td valign="top">Add a new person to the database</td>
        </form>
    </tr>
{{end}}
{{if hasAdminScreenAccess .X.Token 2 2}}
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Add Company">
                <input type="hidden" name="url" value="/adminAddCompany/"></form>
        </td>
        <td valign="top">Add a new company to the database</td>
        </form>
    </tr>
{{end}}
{{if hasAdminScreenAccess .X.Token 3 2}}
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Add Business Unit">
                <input type="hidden" name="url" value="/adminAddClass/"></form>
        </td>
        <td valign="top">Add a new business unit to the database</td>
        </form>
    </tr>
{{end}}
{{if hasAdminScreenAccess .X.Token 4 256}}
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Shutdown">
                <input type="hidden" name="url" value="/shutdown/"></form>
        </td>
        <td valign="top"> Stops the phonebook server</td>
        </form>
    </tr>
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Restart">
                <input type="hidden" name="url" value="/restart/"></form>
        </td>
        <td valign="top">Restart the phonebook server</td>
        </form>
    </tr>
    <td width="50"></td>
    <td>
        <form action="/adminViewBtn/" method="POST">
            <input type="submit" name="action" value="Stats">
            <input type="hidden" name="url" value="/stats/"></form>
    </td>
    <td valign="top">Displays phonebook server statistics</td>
    </form>
    <tr>
        <td width="50"></td>
        <td>
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Setup">
                <input type="hidden" name="url" value="/setup/"></form>
        </td>
        <td valign="top">Customize the branding and interface of this product</td>
        </form>
    </tr>
{{end}}
</table>
{{ end }}