{{define "title" }}
AIR Directory - Business Unit - {{.A.Name}}
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "class"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}
<p>&nbsp;</p>
<table border="0" class="bd" id="personDetailText" cellpadding="3">
    <tr>
        <td width="50px"></td>
        <td colspan="2"><span class="LastName">{{.A.Name}}</span></td>
        <td width="50px"></td>
    </tr>
    <tr>
        <td width="50px"></td>
        <td class="Attrib" align="right">DESIGNATION</td>
        <td>{{.A.Designation}}</td>
        <td width="50px"></td>
    </tr>
    <tr>
        <td width="50px"></td>
        <td class="Attrib" align="right">DESCRIPTION</td>
        <td>{{.A.Description}}</td>
        <td width="50px"></td>
    </tr>
    <tr>
        <td width="50px"></td>
        <td class="Attrib" align="right">COMPANY</td>
        <td><a href="/company/{{.A.C.CoCode}}">{{.A.C.Designation}}</a></td>
        <td width="50px"></td>
    </tr>

    <tr>
        <td width="50px"></td>
        <td colspan="2"><p></p>
            <hr>
            <p></p></td>
        <td width="50px"></td>
    </tr>

    <tr>
        <td width="50px"></td>
        <td colspan="2">
            <p align="center">
            <form action="/adminViewBtn/" method="POST">
                <input type="submit" name="action" value="Done"> &nbsp;&nbsp;&nbsp;
            {{if hasAdminScreenAccess .X.Token 3 4}}
                <input type="submit" name="action" value="AdminEdit">
                <input type="hidden" name="url" value="/adminEditClass/{{.A.ClassCode}}">
            {{end}}
            </form>
            </p>
        </td>
        <td width="50px"></td>
    </tr>

</table>
{{ end }}