<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Directory - {{.A.Name}}</title>
</head>
<body style='background-image: url("/images/AccordWatermark.png")'>


<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/images/AccordLogoBlackHorz.png" height="50"></a></td>
<td ><a href="/search/">PHONEBOOK</a></td>
<td width=50></td><td class="MenuCmd"><a href="/search/">People</a></td>
<td width=30></td><td class="MenuCmd"><a href="/searchco/">Companies</a></td>
<td width=30></td><td class="MenuCmd"><a href="/searchcl/">Classes</a></td>
{{if showAdminButton .X.Token}}
<td width=30></td><td class="MenuCmd"><a href="/admin/">Admin</a></td>
{{end}}
<td width=50></td>
<td><a href="/editDetail/{{.X.UID}}"><img src="{{.X.ImageURL}}" height="25"><br>{{.X.Firstname}}</a></td>
<td width=4></td><td><a href="/logoff/{{.X.UID}}">Logoff</a></td>
<td width=30></td>
</tr>
</table>



<p>&nbsp;</p>
<table border="0" class="bd" id="personDetailText">
<tr><td width="50px"></td><td colspan="2"><span class="LastName">{{.A.Name}}</span></td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">DESIGNATION</td><td>{{.A.Designation}}</td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">DESCRIPTION</td><td>{{.A.Description}}</td><td width="50px"></td></tr>

<tr><td width="50px"></td><td colspan="2"><p></p><hr><p></p></td><td width="50px"></td></tr>

<tr><td width="50px"></td>
    <td colspan="2" >
    <p align="center">
    <a href="javascript:history.back()" class="button">Done</a>
    {{if hasAdminScreenAccess .X.Token 3 4}}
    &nbsp;&nbsp;&nbsp;
    <a href="/adminEditClass/{{.A.ClassCode}}" class="button">Admin Edit</a> 
    {{end}}
    </p>
    <br><p></p>
    </td><td width="50px"></td></tr>

</table>

</body>
</html>