<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Directory - {{.C.CommonName}}</title>
</head>
<body style='background-image: url("/images/AccordWatermark.png")'>


<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/images/AccordLogoBlackHorz.png" height="50"></a></td>
<td ><a href="/search/"><span class="AppName">PHONEBOOK</span></a></td>
<td width=50></td><td><a href="/search/"><span class="MenuCmd">People</span></a></td>
<td width=30></td><td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
<td width=30></td><td><a href="/searchcl/"><span class="MenuCmd">Classes</span></a></td>
{{if showAdminButton .X.Token}}
<td width=30></td><td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
{{end}}
<td width=50></td>
<td><p align="center"><a href="/editDetail/{{.X.UID}}"><span class="MenuUserName"><img src="{{.X.ImageURL}}" height="25"><br>{{.X.Firstname}}</span></a></p></td>
<td width=4></td><td><a href="/logoff/{{.X.UID}}"><span class="MenuCmd">Logoff</span></a></td>
<td width=30></td>
</tr>
<tr>
<td width=20></td>
<td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
</tr>
</table>



<p>&nbsp;</p>
<table border="0" class="bd" id="personDetailText">
<tr><td width="50px"></td><td colspan="2"><span class="LastName">{{.C.LegalName}}</span><br>
<span class="FirstName">{{.C.CommonName}}</span></td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right" valign="top">ADDRESS</td>
    <td>
        {{.C.Address}}
        {{if .C.Address2}}<br>{{.C.Address2}}{{end}}<br>
        {{.C.City}}, {{.C.State}}&nbsp;&nbsp;{{.C.PostalCode}}, {{.C.Country}}
    </td><td width="50px"></td>
</tr>
<tr><td width="50px"></td><td class="Attrib" align="right">DESIGNATION</td><td>{{.C.Designation}}</td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">COMPANY CODE</td><td>{{.C.CoCode}}</td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">PHONE</td><td>{{.C.Phone}}</td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">FAX</td><td>{{.C.Fax}}</td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">EMAIL</td><td><a href="mailto:{{.C.Email}}">{{.C.Email}}</a></td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">ACTIVE</td><td>{{if gt .C.Active 0}}Yes{{else}}No{{end}}</a></td><td width="50px"></td></tr>
<tr><td width="50px"></td><td class="Attrib" align="right">EMPLOYS PEOPLE</td><td>{{if gt .C.EmploysPersonnel 0}}Yes{{else}}No{{end}}</a></td><td width="50px"></td></tr>
<tr><td width="50px"></td><td colspan="2"><p></p><hr><p></p></td><td width="50px"></td></tr>

<tr><td width="50px"></td>
    <td colspan="2" >
    <p align="center">
        <form action="/adminViewBtn/" method="POST">
        <input type="submit" name="action" value="Done">  &nbsp;&nbsp;&nbsp;
    {{if hasAdminScreenAccess .X.Token 2 4}}
        <input type="submit" name="action" value="AdminEdit">
        <input type="hidden" name="url" value="/adminEditCo/{{.C.CoCode}}">
    {{end}}
        </form>
    </p>
    <br><p></p>
    </td><td width="50px"></td></tr>

</table>

</body>
</html>