{{define "title" }}
AIR Directory - Delete Company Error
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "delCoRefErr"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}

<p></p>
<h1>Cannot delete company {{.C.CommonName}}</h1>
<p><strong>Number of people associated with Company {{.C.CommonName}}: {{.R.Matches | len}}</strong>
    <br>These people are listed below. A Company cannot
    be deleted if any people are associated with it. Please change the company
    for each of these people to something else and try the delete again.
</p>
<p></p>
<table cellpadding="2" class="bd" id="personDetailText">
    <tr>
        <th align="left">First Name</th>
        <th width=7></th>
        <th align="left">Last Name</th>
        <th width=7></th>
        <th align="left">Preferred Name</th>
        <th width=7></th>
        <th align="left">Email</th>
        <th width=7></th>
        <th align="left">Office Phone</th>
        <th width=7></th>
        <th align="left">Cell Phone</th>
        <th width=7></th>
        <th>Department</th>
    </tr>

{{range .R.Matches}}
    <tr>
        <td><a href="/detail/{{.UID}}">{{.FirstName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.LastName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.PreferredName}}</a></td>
        <td width=7></td>
        <td><a href="mailto:{{.PrimaryEmail}}">{{.PrimaryEmail}}</a></td>
        <td width=7></td>
        <td>{{.OfficePhone}}</td>
        <td width=7></td>
        <td>{{.CellPhone}}</td>
        <td width=7></td>
        <td>{{.DeptName}}</td>
    </tr>
{{end}}
</table>
{{ end }}
