{{define "title" }}
AIR Directory - Delete Person Error
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "delPersonRefErr"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}
<p></p>
{{$ref := .R.Matches | len}}
{{if gt $ref 0 }}
<h1>Cannot inactivate (or
    delete) {{if .D.PreferredName}}{{.D.PreferredName}}{{else}}{{.D.FirstName}}{{end}} {{.D.LastName}}</h1>
<p><strong>Number of people reporting
    to {{if .D.PreferredName}}{{.D.PreferredName}}{{else}}{{.D.FirstName}}{{end}} {{.D.LastName}}: {{$ref}}</strong></p>
<p>These people are listed below. A person cannot
    be deleted if he or she has any direct reports. Please change the manager for each of these people and try the
    operation again.
</p>
<p></p>
<table cellpadding="2" class="bd" id="personDetailText">
    <tr>
        <th align="left">First Name</th>
        <th width=7></th>
        <th align="left">Last Name</th>
        <th width=7></th>
        <th align="left">Preferred Name</th>
        <th width=7></th>
        <th align="left">Email</th>
        <th width=7></th>
        <th align="left">Office Phone</th>
        <th width=7></th>
        <th align="left">Cell Phone</th>
        <th width=7></th>
        <th>Department</th>
    </tr>

{{range .R.Matches}}
    <tr>
        <td><a href="/detail/{{.UID}}">{{.FirstName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.LastName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.PreferredName}}</a></td>
        <td width=7></td>
        <td><a href="mailto:{{.PrimaryEmail}}">{{.PrimaryEmail}}</a></td>
        <td width=7></td>
        <td>{{.OfficePhone}}</td>
        <td width=7></td>
        <td>{{.CellPhone}}</td>
        <td width=7></td>
        <td>{{.DeptName}}</td>
    </tr>
{{end}}
</table>
{{else}}
<H1>{{if .D.PreferredName}}{{.D.PreferredName}}{{else}}{{.D.FirstName}}{{end}} {{.D.LastName}} is now ready for
    Delete</H1>
<p><strong>Return to AdminEdit page and try the operation again.</strong></p>
<p></p>
<form action="/adminViewBtn/{{.D.UID}}" method="POST">
    <input type="submit" name="action" value="Done"> &nbsp;&nbsp;&nbsp;
    <input type="submit" name="action" value="AdminEdit">
    <input type="hidden" name="url" value="/adminEdit/{{.D.UID}}">
</form>
{{end}}
{{ end }}
