<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Directory - Details  {{.D.FirstName}} {{.D.LastName}}</title>
</head>
<body style='background-image: url("/images/isolabella.jpg")'>


<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/images/hlogo.png" height="50"></a></td>
<td ><a href="/search/"><span class="AppName">PHONEBOOK</span></a></td>
<td width=50></td><td><a href="/search/"><span class="MenuCmd">People</span></a></td>
<td width=30></td><td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
<td width=30></td><td><a href="/searchcl/"><span class="MenuCmd">Classes</span></a></td>
{{if showAdminButton .X.Token}}
<td width=30></td><td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
{{end}}
<td width=50></td>
<td><p align="center"><a href="/editDetail/{{.X.UID}}"><span class="MenuUserName"><img src="{{.X.ImageURL}}" height="35"><br>{{.X.Firstname}}</span></a></p></td>
<td width=4></td><td><a href="/logoff/{{.X.UID}}"><span class="MenuCmd">Logoff</span></a></td>
<td width=30></td>
</tr>
<tr>
<td width=20></td>
<td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
</tr>
</table>



<table border=0 id="personDetailText">
<tr><td height=30 colspan="6"></td></tr>
<tr>
	<td width=20 class="bd"></td>
	<td id="personDetailText" class="bd" colspan="2" width="400">
		<div align="right">
		<span class="FirstName">{{if .D.PreferredName}}{{.D.PreferredName}}{{else}}{{.D.FirstName}}{{end}}</span> <span class="LastName">{{.D.LastName}}</span><br>
		<span class="Employer"><a href="/company/{{.D.Company.CoCode}}">{{.D.Company.CommonName}}</a></span><br>
		<img width=30 src="/images/orgcharticon.png" align="left" alt="Organizational Chart">
		<span class="JobTitle">{{.D.JobTitle}}</span>
		</div>
		<p></p>
	</td>
	<td width=20 class="bd"></td>
	<td width=30></td>
	<td width=375 height=375 valign="center" rowspan="7" class="bd"><p align="center"><img width=300 src="{{.D.Image}}"></p></td>
</tr>


<tr><td width=20 class="bd"></td><td class="Attribbd">FULL NAME &nbsp;</td><td class="AttribVal">{{.D.FirstName}} {{.D.MiddleName}} {{.D.LastName}}</td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">PREFERRED NAME &nbsp;</td><td class="AttribVal">{{.D.PreferredName}}</td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">EMAIL &nbsp;</td><td class="AttribVal"><a href="mailto:{{.D.PrimaryEmail}}">{{.D.PrimaryEmail}}</a></td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">PHONE &nbsp;</td><td class="AttribVal">{{.D.OfficePhone}}</td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">CELL &nbsp;</td><td class="AttribVal">{{.D.CellPhone}}</td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">CLASS &nbsp;</td>
	<td class="AttribVal"><a href="/class/{{.D.ClassCode}}">{{.D.Class}}</a></td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">DEPARTMENT &nbsp;</td><td class="AttribVal">{{.D.DeptName}}</td><td width=20 class="bd"><td colspan=1></td></tr>
<tr><td width=20 class="bd"></td><td class="Attribbd">MANAGER &nbsp;</td><td class="AttribVal"><a href="/detailpop/{{.D.MgrUID}}">{{.D.MgrName}}</a></td><td width=20 class="bd"><td colspan=1></td></tr>

{{if .D.Reports | len}}
	<tr><td colspan="4" height="10" class="bd"></td><td colspan="2"></td></tr>
	<tr>
		<td width=20 class="bd">
		<td class="Attribbd" valign="top">DIRECT REPORTS &nbsp;</td>
	    <td class="AttribVal">
	        {{range .D.Reports}}
	        <a href="/detailpop/{{.UID}}">{{.FirstName}} {{.LastName}}</a><br>
	        {{end}}
	    </td>
	    <td width=20 class="bd">
	    <td colspan=2></td>
	</tr>
{{end}}

<tr><td colspan="4" height="30" class="bd"></td><td colspan="2"></td></tr>
<tr>
	<td colspan="4" class="bd" nowrap="nowrap">
	<div align="center">
		<form action="/adminViewBtn/{{.D.UID}}" method="POST">
		<input type="submit" name="action" value="Done">  &nbsp;&nbsp;&nbsp;
	{{if hasAdminScreenAccess .X.Token 1 4}}
		<input type="submit" name="action" value="AdminView">
		<input type="hidden" name="url" value="/adminView/{{.D.UID}}">
	{{end}}
		</form>
	</div>
	</td>
	<td colspan=2></td>
</tr>
<tr><td colspan="4" height="10" class="bd"></td><td colspan="2"></td></tr>

</table>


</body>
</html>