{{ define "header" }}
<header>
    <table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
        <tr>
            <td width=20></td>
            <td>
                <a href="/search/"></a>
            </td>
            <td>
                <a href="/search/">
                    <img src="/images/air-48.png" alt="AIR logo">&nbsp;&nbsp;
                    <img src="/images/directory-48.png" alt="Directory Logo">
                </a>
            </td>
            <td>
                <nav>
                    <li>
                        <a href="#">AIROLLER &#x25BE;</a>
                        <div>
                            <nav>
                    <li><a href="https://directory.airoller.com/">Directory</a></li>
                    <li><a href="https://receipt.airoller.com/">Receipts</a></li>

                    <!-- <li><a href="https://rentroll.airoller.com/">Roller</a></li> -->
                </nav>
                </div>
                </nav>
            </td>

            <td width=15></td>
            <td><a href="/search/"><span class="MenuCmd">People</span></a></td>
            <td width=15></td>
            <td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
            <td width=15></td>
            <td><a href="/searchcl/"><span class="MenuCmd">Business Units</span></a></td>
        {{if showAdminButton .X.Token}}
            <td width=15></td>
            <td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
        {{end}}
            <td width=15></td>
            <td>
                <p align="center">
                    <a href="/editDetail/{{.X.UID}}">
                        <span class="MenuUserName">
                            <img src="{{.X.ImageURL}}" height="35" class="profile-image profile-image-nav"
                                 alt="Profile image">
                            </span>
                    </a>
                </p>
                <nav>
                    <li>
                        <a href="#">{{.X.Firstname}} &#x25BE;</a>

                        <nav>
                    <li><a href="/editDetail/{{.X.UID}}">Preferences</a></li>
                    <li><a href="/logoff/{{.X.UID}}">Logoff</a></li>
                </nav>
                </div>
                </li>
                </nav>

            </td>

            <td width=4></td>

            <td width=15></td>
            <td><a href="/help/"><span class="MenuCmd">Help</span></a></td>
            <td width=15></td>
        </tr>
        <tr>
            <td width=20></td>
            <td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
        </tr>
    </table>
</header>
{{ end }}