@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.FirstName {
  text-transform: uppercase;
	font-weight: lighter;
	font-size: 40px;
	text-align: right;
  font-weight:100;
  -webkit-font-smoothing:antialiased;
}
.LastName {
  text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	color: #B8B8B8;
	text-align: right;
}

.Employer, 
.EmployerC {
  text-transform: uppercase;
	font-size: 20px;
	/*font-weight: lighter;*/
  -webkit-font-smoothing:antialiased;
}

.Employer {
  text-align: right;
}

.Breadcrumb {
  font-size: 10px;
}

.JobTitle,
.JobTitleC {
	/*font-weight: lighter;*/
	font-size: 15px;
	font-style: italic;
}

.JobTitle {
  text-align: right;
}

.AppHeading {
  font-size: 15px;
}
.AttribVal {
	font-weight: lighter;
	background-color:rgba(0, 0, 0, 0.7);
}
.bd {
	background-color:rgba(0, 0, 0, 0.7);
}

.Attribbd {
	background-color:rgba(0, 0, 0, 0.7);
  text-align: right;
}

.Attrib {
	text-align: right;
}

.edAttrib {
	text-align: left;
}

.Attrib, .edAttrib, .Attribbd {
	font-weight: lighter;
	font-size: 9px;
}
#menuid {
	color: white;
}

#personDetailText {
	color: white;
}

#menuid a:link,
#menuid a:visited, 
#menuid a:hover, 
#menuid a:active,
#personDetailText a:link,
#personDetailText a:visited, 
#personDetailText a:hover, 
#personDetailText a:active {
  color:white;
}

.MenuCmd {
  font-size: 16;
}
.MenuUserName {
  font-size: 15;
}
.MenuCmd, .MenuUserName {
	color: #BBB;
  text-align: center;
}

.AppName {
	font-size: 20;
	color: #BBB;
}

.button {
  font: lighter 12px Arial;
  border-radius: 9px;
  text-decoration: none;
  background-color: transparent;
  padding: 4px 8px 4px 8px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.blbutton {
  font: lighter 12px Arial;
  border-radius: 9px;
  text-decoration: none;
  background-color: transparent;
  padding: 4px 8px 4px 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.FirstName, .LastName, .Breadcrumb, .Employer, .JobTitle, .AttribVal, .Attrib, .MenuCmd, .AppName, .button, .AppHeading, body, p, td, th {
	font-family:  "Roboto" "Open Sans", "Kozuka Gothic Pro", "Helvetica Neue", "Letter Gothic Std", Helvetica, Arial, "Gill Sans", sans-serif;

}

img {
    image-orientation: from-image;
}

body,p,td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: transparent;
}

th {
    text-transform: uppercase;
    font-size: 10px;
    font-style: italic;
    color: #aaa;
    background-color: transparent;
}

th, td {
    text-align: left;
}

table { 
  border-spacing: 0;
  border-collapse: collapse;
  background-color:transparent;
	border: 0;
	background: transparent;
}
a {
	text-decoration:none;
}

a:link { 
	color: rgb(0, 0, 0) 
} 
a:visited { 
	color: rgb(0,0,0)
} 
a:active { 
	color: rgb(0,0,0) 
}


a:hover { 
	text-decoration: underline;
}


.Space {
	font-size: 5;
}

.Note {
	font-style: italic;
	font-size: 11px;
}

.DetailPerson {
	font-size: 30px;
	font-weight: bold;
    line-height: 3%;		
}
.HRBoxed {
  border-color: #bbbbbb;
  border-style: solid;
  border-width: 1px;
  background-color: #ddeeff;
}

.HRBoxedDisabled {
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 1px;
  background-color: #E8E8E8;
}

.Login {
  font-size: 20px;
}

.ErrMsg {
  color: red;
}

input[type="text"],
input[type="password"],
input[type="email"], 
input[type="file"], 
input[type="number"], textarea {
  background-color : #ffffd1;
  font-size: 14px;
}

input[type="submit"] {
  font-size:  16px;
  border-width: 2px;
}
/*
  background-color: transparent;
  border-radius: 9px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
*/  

input.HR {
  background-color : #ddeeff;
}

select,option {
    background: #ffffd1;
    color:#000;
}

select.HR, option.HR {
  background-color : #ddeeff;
}

input[type="checkbox"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="text"]:disabled,
textarea:disabled,
select:disabled {
	background-color:#DDD;
}

nav {
    display: block;
    list-style-type: none;
    height: 40px;
    font: 400 14px/40px sans-serif;
}

nav li {
    display: block;
    float: left;
    position: relative;
}

nav li a {
    display: block;
    color: #aaaaaa;
    text-decoration: none;
    padding: 13px 10px;
    line-height: 14px;
    background-color: #4a4a4a;
    -webkit-transition: background-color 0.2s linear;
}

nav li a:hover {
    background-color: gray;
    -webkit-transition: none;
}

nav nav {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.25s linear;
    height: 0;
    margin-top: -10px;
}

nav nav li {
    float: none;
}

nav li:hover nav {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.profile-image{
    image-orientation: from-image;
    vertical-align: middle;
    border-radius: 50%;
}

.profile-image-form {
    width: auto;
    height: 125px;
}

.profile-image-nav {
    width: auto;
    height: 30px;
}
