@charset "ISO-8859-1";

.FirstName {
    text-transform: uppercase;
	font-weight: lighter;
	font-size: 40px;
	text-align: right;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
}
.LastName {
    text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	color: #B8B8B8;
	text-align: right;
}

.Employer {
    text-transform: uppercase;
	font-size: 20px;
	/*font-weight: lighter;*/
	text-align: right;
    -webkit-font-smoothing:antialiased;
}

.JobTitle {
	/*font-weight: lighter;*/
	font-size: 15px;
	font-style: italic;
	text-align: right;
}

.AttribVal {
	font-weight: lighter;
	background-color:rgba(0, 0, 0, 0.7);
}
.bd {
	background-color:rgba(0, 0, 0, 0.7);
}

.Attribbd {
	background-color:rgba(0, 0, 0, 0.7);
}

.Attrib, .Attribbd {
	font-weight: lighter;
	font-size: 9px;
	text-align: right;
	/*vertical-align: top;*/
}
#menuid {
	color: white;
}

#personDetailText {
	color: white;
}

#menuid a:link,
#menuid a:visited, 
#menuid a:hover, 
#menuid a:active,
#personDetailText a:link,
#personDetailText a:visited, 
#personDetailText a:hover, 
#personDetailText a:active {
  color:white;
}

.MenuCmd {
	font-size: 20;
	color: white;
}

.AppName {
	font-size: 20;
	color: #B8B8B8;
}

.button {
  font: lighter 12px Arial;
  border-radius: 9px;
  text-decoration: none;
  background-color: transparent;
  padding: 4px 8px 4px 8px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.blbutton {
  font: lighter 12px Arial;
  border-radius: 9px;
  text-decoration: none;
  background-color: transparent;
  padding: 4px 8px 4px 8px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.FirstName, .LastName, .Employer, .JobTitle, .AttribVal, .Attrib, .MenuCmd, .AppName, .button, body, p, td, th {
	font-family: "Kozuka Gothic Pro", "Helvetica Neue", "Letter Gothic Std", Helvetica, Arial, "Gill Sans", sans-serif;

}

body,p,td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: transparent;
}

th {
    text-transform: uppercase;
	font-size: 10px;
	font-style: italic;
	color: #aaa;
	background-color: transparent;
}

th, td {
    text-align: left;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
    background-color:transparent;
	border: 0;
	background: transparent;
}
a {
	text-decoration:none;
}

a:link { 
	color: rgb(0, 0, 0) 
} 
a:visited { 
	color: rgb(0,0,0)
} 
a:active { 
	color: rgb(0,0,0) 
}


a:hover { 
	text-decoration: underline;
}


.Space {
	font-size: 5;
}

.Note {
	font-style: italic;
	font-size: 11px;
}

.DetailPerson {
	font-size: 30px;
	font-weight: bold;
    line-height: 3%;		
}
.HRBoxed {
  border-color: #bbbbbb;
  border-style: solid;
  border-width: 1px;
  background-color: #ddeeff;
}


input[type="text"],
input[type="email"], 
input[type="number"], textarea {
  background-color : #ffffd1;
  font-size: 14px;
}

input[type="submit"] {
	font-weight: bold;
}

input.HR {
  background-color : #ddeeff;
}

select,option {
    background: #ffffd1;
    color:#000;
}

select.HR, option.HR {
  background-color : #ddeeff;
}

