<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<link rel="icon" type="image/png" href="/images/favicon32x32.png">
<title>AIR Directory - Search Companies</title>
</head>
<body style='background-image: url("/{{index .Images "searchco"}}")'>



<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><td><a href="/search/"><img src="/images/air-48.png">&nbsp;&nbsp;<img src="/images/directory-48.png"></a></td>
<td><nav><li><a href="#">AIROLLER &#x25BE;</a>
    <nav>
        <li><a href="https://directory.airoller.com/">Directory</a></li>
        <li><a href="https://receipt.airoller.com/">Receipts</a></li>
        <!-- <li><a href="https://rentroll.airoller.com/">Roller</a></li> -->
    </nav>
</li></nav></td>

<td width=15></td><td><a href="/search/"><span class="MenuCmd">People</span></a></td>
<td width=15></td><td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
<td width=15></td><td><a href="/searchcl/"><span class="MenuCmd">Business Units</span></a></td>
{{if showAdminButton .X.Token}}
<td width=15></td><td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
{{end}}
<td width=15></td>
<td><p align="center"><a href="/editDetail/{{.X.UID}}"><span class="MenuUserName"><img src="{{.X.ImageURL}}" height="35"><br>{{.X.Firstname}}</span></a></p></td>
<td width=4></td>
<td><a href="/logoff/{{.X.UID}}"><span class="MenuCmd">Logoff</a></span></td>
<td width=15></td>
<td><a href="/help/"><span class="MenuCmd">Help</a></span></td>
<td width=15></td>
</tr>
<tr>
<td width=20></td>
<td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
</tr>
</table>



<p></p>

<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
    <td width=20></td>
    <td>
    <form action="/searchco/" method="POST">
    	<div>Search Companies: <input type="search" name="searchstring" size="30" maxlength="35" autofocus><input type="submit" value="Search"></div>
    </form>
    </td>
    <td width=20></td>
</tr>
    <td width=20></td>
    <td>{{if .T.Query}}{{.T.Matches | len}} results for "{{.T.Query}}"{{else}}Enter a search string{{end}}</td>
    <td width=20></td>
</table>


<p></p>


{{if .T.Query}}    
<table cellpadding="2" class="bd" id="personDetailText" >
    
<tr><th width=7></th><th align="left">DES</th>
    <th width=7></th><th align="left">COMMON NAME</th>
    <th width=7></th><th align="left">LEGAL NAME</th>
    <th width=7></th><th align="left">EMAIL</th>
    <th width=7></th><th align="left">PHONE</th>
    <th width=7></th><th align="left">FAX</th>
    <th width=7></th>
</tr>
	{{range .T.Matches}}
    	<tr>
        <td width=7></td><td><a href="/company/{{.CoCode}}">{{.Designation}}</td>
        <td></td><td><a href="/company/{{.CoCode}}">{{.CommonName}}</a></td>
        <td width=7></td><td><a href="/company/{{.CoCode}}">{{.LegalName}}</td>
    	<td width=7></td><td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
    	<td width=7></td><td><a href="{{phoneURL .Phone}}">{{.Phone}}</a></td>
    	<td width=7></td><td>{{.Fax}}</td>
        <td width=7></td>
    	</tr>
	{{end}}
</table>
{{end}}


</body>
</html>
