<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Phonebook - Search Classes</title>
</head>
<body style='background-image: url("/images/NickBurbank.jpg")'>



<table cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/images/AccordLogoBlackHorz.png" height="50"></a></td>
<td ><a href="/search/">PHONEBOOK</a></td>
<td width=50></td><td class="MenuCmd"><a href="/search/">People</a></td>
<td width=30></td><td class="MenuCmd"><a href="/searchco/">Companies</a></td>
<td width=30></td><td class="MenuCmd"><a href="/searchcl/">Classes</a></td>
<td width=30></td><td class="MenuCmd"><a href="/admin/">Admin</a></td>
<td width=50></td>
<td valign="center"><img src="{{.X.ImageURL}}" height="25"> <a href="/editDetail/{{.X.UID}}">{{.X.Firstname}}</a></td>
<td width=30></td>
</tr>
</table>



<p></p>

<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
    <td width=20></td>
    <td>
    <form action="/searchcl/" method="POST">
    	<div>Search Classes: <input type="search" name="searchstring" size="30" maxlength="35" autofocus><input type="submit" value="Search"></div>
    </form>
    </td>
    <td width=20></td>
</tr>
    <td width=20></td>
    <td>{{if .L.Query}}{{.L.Matches | len}} results for "{{.L.Query}}"{{else}}Enter a search string{{end}}</td>
    <td width=20></td>
</table>


<p></p>


{{if .L.Query}}    
<table cellpadding="2" class="bd" id="personDetailText" >
<tr><th width=7></th><th align="left">NAME</th>
    <th width=7></th><th align="left">DESIGNATION</th>
    <th width=7></th><th align="left">DESCRIPTION</th>
    <th width=7></th>
	{{range .L.Matches}}
    	<tr>
    	<td></td><td><a href="/class/{{.ClassCode}}">{{.Name}}</a></td>
    	<td width=7></td><td><a href="/class/{{.ClassCode}}">{{.Designation}}</td>
    	<td width=7></td><td>{{.Description}}</a></td>
        <td width=7></td>
    	</tr>
	{{end}}
</table>
{{end}}


</body>
</html>
