{{define "title" }}
AIR Directory - Search
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "search"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}
<p></p>
<table cellspacing="0" cellpadding="4" class="bd" id="menuid">
    <tr>
        <td width=20></td>
        <td>
            <form action="/search/" method="POST">
                <div>Search People: <input type="search" name="searchstring" size="30" maxlength="35" autofocus><input
                        type="submit" value="Search">
                {{if hasPERMMODaccess .X.Token 1 "Termination"}}
                    <label><input type="checkbox" name="inclterms" value="yes">Include inactive employees</label>
                {{end}}</div>
            </form>
        </td>
        <td width=20></td>
    </tr>
    <td width=20></td>
    <td>{{if .R.Query}}{{.R.Matches | len}} results for "{{.R.Query}}"{{else}}Enter a search string{{end}}</td>
    <td width=20></td>
</table>
<p></p>
{{if .R.Query}}
<table cellpadding="2" class="bd" id="personDetailText">
    <tr>
        <th align="left">First Name</th>
        <th width=7></th>
        <th align="left">Last Name</th>
        <th width=7></th>
        <th align="left">Preferred Name</th>
        <th width=7></th>
        <th align="left">Email</th>
        <th width=7></th>
        <th align="left">Office Phone</th>
        <th width=7></th>
        <th align="left">Cell Phone</th>
        <th width=7></th>
        <th>Department</th>
    </tr>

{{range .R.Matches}}
    <tr>
        <td><a href="/detail/{{.UID}}">{{.FirstName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.LastName}}</a></td>
        <td width=7></td>
        <td><a href="/detail/{{.UID}}">{{.PreferredName}}</a></td>
        <td width=7></td>
        <td><a href="mailto:{{.PrimaryEmail}}">{{.PrimaryEmail}}</a></td>
        <td width=7></td>
        <td><a href="{{phoneURL .OfficePhone}}">{{.OfficePhone}}</a></td>
        <td width=7></td>
        <td><a href="{{phoneURL .CellPhone}}">{{.CellPhone}}</a></td>
        <td width=7></td>
        <td>{{.DeptName}}</td>
    </tr>
{{end}}
</table>
{{end}}
{{ end }}
