{{define "title" }}
AIR Directory - Search Companies
{{ end }}
{{define "body style" }}
style='background-image: url("/{{index .Images "searchco"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}

<p></p>

<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
    <tr>
        <td width=20></td>
        <td>
            <form action="/searchco/" method="POST">
                <div>Search Companies: <input type="search" name="searchstring" size="30" maxlength="35"
                                              autofocus><input type="submit" value="Search"></div>
            </form>
        </td>
        <td width=20></td>
    </tr>
    <td width=20></td>
    <td>{{if .T.Query}}{{.T.Matches | len}} results for "{{.T.Query}}"{{else}}Enter a search string{{end}}</td>
    <td width=20></td>
</table>


<p></p>


{{if .T.Query}}
<table cellpadding="2" class="bd" id="personDetailText">

    <tr>
        <th width=7></th>
        <th align="left">DES</th>
        <th width=7></th>
        <th align="left">COMMON NAME</th>
        <th width=7></th>
        <th align="left">LEGAL NAME</th>
        <th width=7></th>
        <th align="left">EMAIL</th>
        <th width=7></th>
        <th align="left">PHONE</th>
        <th width=7></th>
        <th align="left">FAX</th>
        <th width=7></th>
    </tr>
{{range .T.Matches}}
    <tr>
        <td width=7></td>
        <td><a href="/company/{{.CoCode}}">{{.Designation}}</a></td>
        <td></td>
        <td><a href="/company/{{.CoCode}}">{{.CommonName}}</a></td>
        <td width=7></td>
        <td><a href="/company/{{.CoCode}}">{{.LegalName}}</a></td>
        <td width=7></td>
        <td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
        <td width=7></td>
        <td><a href="{{phoneURL .Phone}}">{{.Phone}}</a></td>
        <td width=7></td>
        <td>{{.Fax}}</td>
        <td width=7></td>
    </tr>
{{end}}
</table>
{{end}}

{{end}}
