{{define "title" }}
AIR Directory - Search Business Units
{{ end }}

{{define "body style" }}
style='background-image: url("/{{index .Images "searchcl"}}")'
{{ end }}

{{ define "other scripts"}}{{ end }}

{{ define "content" }}
<p></p>

<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
    <tr>
        <td width=20></td>
        <td>
            <form action="/searchcl/" method="POST">
                <div>Search Business Units: <input type="search" name="searchstring" size="30" maxlength="35" autofocus><input
                        type="submit" value="Search"></div>
            </form>
        </td>
        <td width=20></td>
    </tr>
    <td width=20></td>
    <td>{{if .L.Query}}{{.L.Matches | len}} results for "{{.L.Query}}"{{else}}Enter a search string{{end}}</td>
    <td width=20></td>
</table>


<p></p>


{{if .L.Query}}
<table cellpadding="2" class="bd" id="personDetailText">

    <tr>
        <th width=7></th>
        <th align="left">DESIGNATION</th>
        <th width=7></th>
        <th align="left">NAME</th>
        <th width=7></th>
        <th align="left">DESCRIPTION</th>
        <th width=7></th>
    </tr>
{{range .L.Matches}}
    <tr>
        <td width=7></td>
        <td><a href="/class/{{.ClassCode}}">{{.Designation}}</a></td>
        <td></td>
        <td><a href="/class/{{.ClassCode}}">{{.Name}}</a></td>
        <td width=7></td>
        <td>{{.Description}}</td>
        <td width=7></td>
    </tr>
{{end}}
</table>
{{end}}


{{ end }}