<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/phonebook.css" rel="stylesheet"  type="text/css">
<title>Accord Phonebook - Stats</title>
<link rel="icon" type="image/png" href="/images/favicon32x32.png">
</head>
<body style='background-image: url("/{{index .Images "stats"}}")'>



<table border=0 cellspacing="0" cellpadding="4" class="bd" id="menuid">
<tr>
<td width=20></td>
<td><a href="/search/"><img src="/{{index .Images "logo"}}" height="50"></a></td>
<td ><a href="/search/"><span class="AppName">PHONEBOOK</span></a></td>
<td width=50></td><td><a href="/search/"><span class="MenuCmd">People</span></a></td>
<td width=20></td><td><a href="/searchco/"><span class="MenuCmd">Companies</span></a></td>
<td width=20></td><td><a href="/searchcl/"><span class="MenuCmd">Classes</span></a></td>
{{if showAdminButton .X.Token}}
<td width=20></td><td class="MenuCmd"><a href="/admin/"><span class="MenuCmd">Admin</span></a></td>
{{end}}
<td width=50></td>
<td><p align="center"><a href="/editDetail/{{.X.UID}}"><span class="MenuUserName"><img src="{{.X.ImageURL}}" height="35"><br>{{.X.Firstname}}</span></a></p></td>
<td width=4></td>
<td><a href="/logoff/{{.X.UID}}"><span class="MenuCmd">Logoff</a></span></td>
<td width=20></td>
<td><a href="/help/"><span class="MenuCmd">Help</a></span></td>
<td width=20></td>
</tr>
<tr>
<td width=20></td>
<td colspan="9">You are here: &nbsp;{{getHTMLBreadcrumb .X.Token}}</td>
</tr>
</table>




<p></p>
<table>
	<tr><td width="20"></td><td>SearchPeople</td><td><div align="right">{{.K.SearchPeople}}</span></td></tr>
	<tr><td width="20"></td><td>SearchClasses</td><td><div align="right">{{.K.SearchClasses}}</span></td></tr>
	<tr><td width="20"></td><td>SearchCompanies</td><td><div align="right">{{.K.SearchCompanies}}</span></td></tr>
	<tr><td width="20"></td><td>EditPerson</td><td><div align="right">{{.K.EditPerson}}</span></td></tr>
	<tr><td width="20"></td><td>ViewPerson</td><td><div align="right">{{.K.ViewPerson}}</span></td></tr>
	<tr><td width="20"></td><td>ViewClass</td><td><div align="right">{{.K.ViewClass}}</span></td></tr>
	<tr><td width="20"></td><td>ViewCompany</td><td><div align="right">{{.K.ViewCompany}}</span></td></tr>
	<tr><td width="20"></td><td>AdminEditPerson</td><td><div align="right">{{.K.AdminEditPerson}}</span></td></tr>
	<tr><td width="20"></td><td>AdminEditClass</td><td><div align="right">{{.K.AdminEditClass}}</span></td></tr>
	<tr><td width="20"></td><td>AdminEditCompany</td><td><div align="right">{{.K.AdminEditCompany}}</span></td></tr>
	<tr><td width="20"></td><td>DeletePerson</td><td><div align="right">{{.K.DeletePerson}}</span></td></tr>
	<tr><td width="20"></td><td>DeleteClass</td><td><div align="right">{{.K.DeleteClass}}</span></td></tr>
	<tr><td width="20"></td><td>DeleteCompany</td><td><div align="right">{{.K.DeleteCompany}}</span></td></tr>
	<tr><td width="20"></td><td>SignIn</td><td><div align="right">{{.K.SignIn}}</span></td></tr>
	<tr><td width="20"></td><td>Logoff</td><td><div align="right">{{.K.Logoff}}</span></td></tr>
</table>


<h3>Sessions</h3>
<table cellpadding="2">
	<tr>
	    <th>UID</th>
	    <th>Username</th>
	    <th>ImageURL</th>
	    <th>Expire</th>
	</tr>
	{{range .N}}
    <tr>
    	<td>{{.UID}}</a></td>
    	<td>{{.Username}}</a></td>
    	<td>{{.ImageURL}}</a></td>
    	<td>{{datetimeToString .Expire}}</a></td>
   	</tr>
	{{end}}
</table>

</body>
</html>